body {
    background-color: bisque;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-align: center;
}

ul.center {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-align: center;
    list-style-type: none;
}

ol.center {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-align: center;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin: 0 10px;
}
